@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
  color: #000000;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #3f3e3f;
}

.navbar .links {
  margin-left: auto;
}

.pink-color {
  color: #fd1bc4;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  
}
.navbar a:hover {
  color: #d4bdcd;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  color: #fd1bc4;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #3f3e3f;
 
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

}
.blog-preview h2 {
  margin: 0;
  color: #fd1bc4;
}
.blog-preview h2:hover{
  color: #040404;
}
.blog-preview a {
  text-decoration: none;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: #fd1bc4;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color:  #fd1bc4;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #fd1bc4;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.na {
  color: #fd1bc4;
}